body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: white;
    color: #222;
}

header {
    background: #ca9c9c;
    padding: 30px;
    text-align: center;
}

header h1 {
    font-size: 38px;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


.hero {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    align-items: start;
    padding: 80px 20px;
    text-align: left;
    background: #e6e6e6;
    align-content: center;
   grid-template-areas:
   "titel ."
   "text .";
}


.hero h2 {
    font-size: 36px;
    grid-area: titel;
    justify-self: end;
    align-self: start;
}
.hero p {
    grid-area: text;
    align-self: end;
}


.kontakt {
    padding: 40px;
    text-align: center;
}


.button {
    display: inline-block;
    background: black;
    color: white;
    padding: 15px 25px;
    border-radius: 25px;
    text-decoration: none;
}


footer {
    background: #e6e6e6;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}